mixin codeForm(mode, message, target, timer, cells, name, action)
	-
		$mode = mode || 'sms'
		$cells = cells || 3
		$timer = timer || "00:00"
	.page__inner&attributes(attributes)
		h4.modal-login__header Подтверждение входа
		p.modal-login__text #{message}
			span.modal-login__phone.js-code-target #{target}
		form.modal-login__confirm.code-confirm.js-confirm(action=action, name=name, method="post", enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate)
			.code-confirm__inner
				- for (var i = 0; i < $cells; i++)
					if (i === 0) 
						+microfield(i).js--start
					if (i === cells - 1)
						+microfield(i).js--end
					if (i !== 0 & i !== cells - 1)
						+microfield(i)

			.code-confirm__buttons.code-confirm-buttons
				.code-confirm-buttons__timer.timer.js-timer-panel
					p.timer__item.timer__pending.js-timer.js-timer--pending Повторный код можно отправить через 
						span.timer__caption.js-timer-caption(data-time=timer)
							span.js-timer-hours 00
							span.js-timer-separator : 
							span.js-timer-minutes 00
							span.js-timer-separator : 
							span.js-timer-seconds 00
							
					p.timer__item.timer__message.js-timer.js-timer--success
						+icon('sunny', { type: 'multi' } )
						| Код отправили повторно	
					button.timer__item.timer__resend.js-timer.js-timer--restart.js-active(type="button", aria-label="Отправить повторно") Отправить повторно

				.code-confirm-buttons__addictive(class={'code-confirm-buttons--center': $mode !== 'sms'})
					button(type="button", aria-label="Не приходит код?").code-link.js-code-instruction--toggle Не приходит код?
					if ($mode === 'sms')
						button(type="button", aria-label="Войти с помощью email").code-link.js-code-email--toggle Войти с помощью email

mixin modal-login()
	.modal-login.js-authorize&attributes(attributes)
		.modal-login__pages.pages
			.page-default.js-page.js-page--default.js-active
				h4.modal-login__header Вход или регистрация
				p.modal-login__text Мы отправим на номер SMS-сообщение с кодом подтверждения
				+form('', '', './response/login-sms.json', 'modal-login-sms', 'post', 'application/x-www-form-urlencoded').modal-login__form.js-login-form.js-login-form--sms
					block fields
						+field('tel', 'phone', true, '', 'Телефон', '+7 (999) 999-99-99',false, false, false).form__field.required
					block buttons
						button.button.form__submit.modal-login__button.button--disabled.js-form-submit(type="submit", aria-label="Отправить код" disabled)
							span.button__caption Отправить код
				
			.pages__item.pages__item--code-sms.js--sms-confirm.js-page
				+codeForm('sms', 'Мы отправили код подтверждения на номер ', '+7 999 99 99', '00:00:10', 4, 'modal-login-sms-confirm', './response/login-sms.json')
							
			.pages__item.pages__item--email.js-page.js--email-login
				h4.modal-login__header Вход или регистрация
				p.modal-login__text Мы отправим на электронную почту код подтверждения
				form.form.js-form.modal-login__form.js-login-form.js-login-form--email(action="./response/login-email.json", name="login-email", method="post", enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate)
					.form__inner
						+field('email', 'email', true, '', 'Email', '', true, false).form__field.required
						button.button.form__submit.modal-login__button.js-form-submit(type="submit", aria-label="Отправить код" disabled)
							span.button__caption Отправить код
				
			.pages__item.pages__item--code-email.js--email-confirm.js-page
				+codeForm('email', 'Мы отправили код подтверждения на электронную почту ', 'test@test.ru', '00:00:10', 4, 'modal-login-email-confirm', './response/login-email.json')
			
			.pages__item.pages__item--no-code.js-page.js--message
				.pade__inner.no-code
					.no-code--sms
						h4.modal-login__header Не приходит SMS
						ul
							li.no-code__item Проверьте, что вы ввели правильный номер телефона
							li.no-code__item Иногда SMS приходит не сразу, подождите несколько минут и попробуйте получить код еще раз
							li.no-code__item Попробуйте авторизоваться через адрес электронной почты
							li.no-code__item Если авторизоваться не получилось, обратитесь в службу поддержки через форму
								button.no-code__link.js-modal(type="button" data-modal="modal-callback", aria-label="Форма обратной связи") обратной связи
					.no-code--email.visually-hidden
						h4.modal-login__header Не приходит письмо с кодом
						ul
							li.no-code__item Проверьте, что вы ввели правильный email
							li.no-code__item Иногда письмо приходит не сразу, подождите несколько минут и попробуйте получить код еще раз
							li.no-code__item Если авторизоваться не получилось, обратитесь в службу поддержки через форму
								button.no-code__link.js-modal(type="button" data-modal="modal-callback", aria-label="Форма обратной связи") обратной связи
