include ../tip/tip

mixin card(data)
	if (data)
		article.card(class=data.classname)&attributes(attributes)
			.card__inner
				.card__image.page-image
					+picture(data.image.src, {
						alt: data.image.alt
					})
				.card__text
					h3.card__caption #{data.caption}
					p.card__description!= `${data.description}`
					.card__prices.prices
						span.prices__current= `${data.price.current} ₽/м`
							sup 2
						span.prices__old= `${data.price.old} ₽/м`
							sup 2
						+tip('tip--gradient prices__discount', data.price.discount)
					.card__buttons.buttons
						button.button.button-to-busket.buttons__busket.js-button-to-busket(type="button")
							span.button__caption В корзину
							+icon('check')
						+bitButton({
							id: 'favourites',
							type: 'button',
							title: 'Избранное',
							fill: 'favourites-fill',
							classname: 'buttons__favourites js-button-favourites',
						})
						+bitButton({
							id: 'compare',
							type: 'button',
							title: 'Сравнить',
							fill: 'compare-fill',
							classname: 'buttons__compare js-button-compare',
						})
