mixin radio(caption, name, inValidator, required, disabled, checked)
	-
		isDisables = disabled || false
		isRequired = required || false
		isChecked = checked || false
		radioCaption = caption || 'Радиокнопка'
	label.radio.js-radio&attributes(
		attributes)
		span.radio__inner
			input.radio__input.visually-hidden(
				class={'js-validate': inValidator === true},
				type="radio"
				name=name
				disabled=isDisables
				required=isRequired
				checked=isChecked
			)
			span.radio__indicator
			span.radio__caption #{radioCaption}
		span.error-message.js-error-message
