extends ../../config/pug/layout

include ../../components/modal/modal
include ../../components/modal/modal-login/modal-login
include ../../components/modal/modal-city/modal-city
include ../../components/modal/modal-callback/modal-callback
include ../../components/modal/modal-empty/modal-empty
include ../../components/modal/modal-message/modal-message
include ../../components/modal/modal-message-success-login/modal-message-success-login
include ../../components/modal/modal-cookies/modal-cookies

include ../../components/breadcrumbs/breadcrumbs
include ../../components/personal/personal-nav/personal-nav
include ../../components/field-avatar/field-avatar

block append config
	-
		bodyClass = 'main'
		pageName = 'Мои личные данные';
		style = 'style-personal';
		scripts = ['script-personal'];

block variables
	include ../../data/breabcrumbs/catalog
	include ../../data/personal/personal-nav

block main
	+breadcrumbs([
		{
			href: '#',
			name: 'Мои личные данные',
		}
	], {
		mode: 'title'
	})

	.personal.container
		aside.personal__aside
			+personal-nav(personalNav, {
				active: 'Мои личные данные'
			})
		main.personal__main
			.personal-data
				form(
					class="personal-data__form js-form"
					name="base"
					action="#"
					method="post"
					enctype="application/x-www-form-urlencoded"
					autocomplete="off"
					novalidate="novalidate"
				)
					+field-avatar()
					.personal-data__row
						.personal-data__col
							+field('tel', 'phone', true, '', 'Телефон*', '+7 999 999 99 99', true, false).required
							+field('email', 'email', true, '', 'E-mail*', '', true, false).required
						.personal-data__col
							+field('text', 'name', true, '', 'Имя*', '', true, false).required
							+field('text', 'lastname', true, '', 'Фамилия', '', true, false)
					.personal-data__row.personal-data__row--reverse
						.personal-data__col
							.personal-data__label Пол
							.personal-data__group
								+radio('Мужской', 'gender', false, false, false, true)
								+radio('Женский', 'gender', false, false, false, false)
						.personal-data__col
							+field('text', 'date', true, '', 'Дата рождения', '99.99.9999', true, false)

block modals
	+modal('modal-login').modal--login.modal--login-step-request
		+modal-login()
	+modal('modal-callback').modal--callback
		+modal-callback()
	+modal('modal-city').modal--city
		+modal-city()
	+modal('modal-message').modal-message--success-subscribe
		+modal-message('Спасибо!', 'Ваша заявка принята.')
	+modal('modal-message-success-login').modal-message--success-login
		+modal-message('Добро пожаловать!', 'Вы вошли в систему.')
	+modal('modal-cookies').modal-message--cookies
		+modalCookies()
