mixin form(caption, description, action, name, method, enctype)
	form.form.js-form(action=action, name=name, method=method, enctype=enctype autocomplete="off" novalidate)&attributes(attributes)
		.form__inner
			fieldset.form__fieldset.form-fieldset
				if caption
					legend.form__legend #{caption}
				if description	
					p.form__description #{description}

				if block
					block fields
			if block
				.form__buttons
					block buttons
