//- Открываем классом .header-catalog--open на body

include ../../data/header-catalog/headerCatalog
.header-catalog
	.container
		.header-catalog__body.content-area.js-header-catalog--desktop
			ul.content-area__list.header-catalog-navigation
				each $category, index in headerCatalog
					li.header-catalog-navigation__item.js-category(class={
						'js-active': $category.active === true,
						'has-content': $category.empty === false
					})
						button.header-catalog-navigation__button.js-category-button(type = "button" data-target = `${$category.target}`)
							+icon($category.icon)
							span.header-catalog-navigation__caption #{$category.caption}
							+icon('chevron_right')

			.content-area__tabs.header-catalog-views
				each $category in headerCatalog
					.header-catalog-views__item.header-catalog-view.js-header-catalog-view.js-header-catalog-scrollbox(class={ 'js-active': $category.active === true }, data-page = $category.target)
						.header-catalog-view__inner
							if $category.content
								each $item in $category.content
									.column(class={'column--new': $item.news === true, 'column-no-data' : $category.empty === true})
										h3.header-catalog__title #{$item.name}
										ul.header-catalog__list
											each $link in $item.items
												li.header-catalog__item
													a.header-catalog__link(href = $link.href title = $link.title) #{$link.title}
							else
								if $category.cover
									.column.column--no-data(style=`background-image: url('${$category.cover}')`)
										h3.header-catalog__title #{$category.caption}

			.content-area__intro.header-catalog-intro.page-image
				a.header-catalog-intro__link(href=headerCatalogIntro.href title=headerCatalogIntro.name)
					img(src=headerCatalogIntro.src alt="")
