//- открываем классом menu--open на body
include ../../data/header/headerNavigation 

nav.header__navigation.header-navigation.js-burger
	+bitButton({
		id: 'burger',
		classname: 'is-burger--button js-burger-button--open',
		type: 'button',
		href: '#',
		title: 'Бургер',
	})(aria-label="Бургер-меню")
	
	button.button-control.button-control--close.is-burger--close.js-burger-button--close(type="button", aria-label="Закрыть бургер-меню")
		+icon('close')

	.header-navigation__wrapper.is-burger
		.is-burger__inner
			.is-burger__widgets.hide--desktop
				+phone('is-burger__phone')
				+bitButton({
					id: 'callback',
					type: 'button',
					title: 'Уведомление',
					classname: 'bit-button--yellow visually-hidden--tablet js-modal',
				})(data-modal='modal-callback', aria-label="Уведомление")
				
			ul.header-navigation__inner.js-header-navigation
				each item in headerNavigation
					if item.modal
						li.header-navigation__item.js-modal(class={'visually-hidden--tablet': item.tablet === true, 'visually-hidden--desktop': item.desktop === true}, data-modal=item.modal)
							a.header-navigation__link(href=`${item.href}` title=`${item.name}`) #{item.name}
								if item.content
									+icon('chevron_right')
					else if item.menu
						li.header-navigation__item.header-navigation-content.js-cowork-toggle(class={'visually-hidden--tablet': item.tablet === true, 'visually-hidden--desktop': item.desktop === true})
							a.header-navigation__link( href=`${item.href}` title=`${item.name}` ) #{item.name}
								+icon('chevron_right')
							ul.header-navigation__content.header-content
								li.header-content__item.header-content__title Сотрудничество
								each link in item.menu
									li.header-content__item
										a.header-content__link(href=link.href title=link.name) #{link.name}  
					else
						li.header-navigation__item(class={
							'visually-hidden--tablet': item.tablet === true,
							'visually-hidden--desktop': item.desktop === true
						})
							a.header-navigation__link( href=`${item.href}` title=`${item.name}` ) #{item.name}

			.is-burger__socials.hide--desktop
				+socials('multi')
					
