include ../counter/counter

mixin cartEmptyProduct(item)
	.cart-empty-product.js-cart-empty-product(
		data-area-per-pack= item.areaPerPack
		data-price-old= item.price.old
		data-price-current= item.price.current
		data-id= item.id
		)&attributes(attributes)
		.cart-empty-product__title
			strong.cart-empty-product__category !{item.category}
			|  
			span.cart-empty-product__name !{item.name}
		.cart-empty-product__code Код товара: !{item.code}
		+picture(item.image, { format: 'jpg' }).cart-empty-product__image
		.cart-empty-product__value
			.cart-empty-product__value-label Количество упаковок:
			+counter({ min: 0, value: item.value }).cart-empty-product__counter.cart-empty-product__counter--packs
		.cart-empty-product__value
			.cart-empty-product__value-label Итоговая площадь (м#[sup 2]):
			+counter({ min: 0, value: item.value * item.areaPerPack }).cart-empty-product__counter.cart-empty-product__counter--area
		.cart-empty-product__price
			.cart-empty-product__total Итого:
			if item.price.old
				.cart-empty-product__price-old #[span !{item.price.old}] ₽/м#[sup 2]
			.cart-empty-product__price-final #[span !{item.price.current}] ₽
