include ../icon/icon

mixin inner(btn)
	if btn.contains
		span.bit-button__contains.bit-button__contains--visible.js-contains #{btn.contains}
	else	
		span.bit-button__contains.js-contains #{btn.contains}
	if btn.caption
		span.bit-button__caption #{btn.caption}
	+icon(btn.id).default
	+icon(btn.id, {type: 'multi'}).active
	if btn.fill
		+icon(btn.fill).fill
		
	
mixin bitButton(button)
	if button.type === 'link'
		if button.login
			a.bit-button(
				class=`${button.classname}` 
				href=`${button.href}` 
				title=`${button.title}`
				style=`background-image: url(${button.login})`
			)&attributes(attributes)
				+inner(button)
		else	
			a.bit-button(
				class=`${button.classname}` 
				href=`${button.href}` 
				title=`${button.title}`
			)&attributes(attributes)
				+inner(button)
	else
		if button.login
			button.bit-button(
				class=`${button.classname}` 
				type="button"
				style=`background-image: url(${button.login})`
			)&attributes(attributes)
				+inner(button)
		else
			button.bit-button(
				class=`${button.classname}`
				type="button"
			)&attributes(attributes)
				+inner(button)


